<!DOCTYPE html>
<html class="no-js" lang="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VacinApp - Carte digital de Vacinação.</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/normalize.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/flexslider.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/queries.css">
    <link rel="stylesheet" href="/styles/etline-font.css">
    <link rel="stylesheet" href="/bower_components/animate.css/animate.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="javascripts/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body id="top">
    <section class="hero">
        <section>
            <header>
                <div class="header-content">
                    <div li><a href="#">VacinApp</a></li>
                        <div class="header-nav">
                            <nav>
                                <ul class="member-actions">
                                    <li><a href="./login" class="login">Entrar</a></li>
                                    <li><a href="./signup" class="btn-white btn-small">Cadastre-se</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="navicon">
                            <a class="nav-toggle" href="#"><span></span></a>
                        </div>
                    </div>
            </header>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="hero-content text-center">
                        <h1>Sua Carteira de Vacinação, na palma da sua mão!</h1>
                        <p class="intro">Consultas, informações e muito mais.</p>
                        <a href="#features" class="btn btn-accent btn-large">Saiba Mais</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="down-arrow floating-arrow"><a href="#features"><i class="fa fa-angle-down"></i></a></div>
    </section>

    <section class="features section-padding" id="features">
        <div class="container">
            <div style="text-align:center">
                <h2>ACOMPANHAMENTO DA VACINAÇÃO CONTRA COVID-19</h2>
            </div>
        </div>

        <div style="text-align:center">
            <img src="https://www.gov.br/saude/pt-br/pagina-inicial/@@govbr.institucional.banner/d54256bb-f437-4dfb-a587-b1cfc2df4791/@@images/7f81cd20-5f05-4e5b-a59b-ebe765186fd4.gif"
                alt="">

            <img src="https://www.gov.br/saude/pt-br/pagina-inicial/@@govbr.institucional.banner/ab890b37-761d-47ed-a8af-5ea466fdb428/@@images/6687caa7-281c-42eb-8270-1d4caedef8a0.gif"
                alt="">
        </div>
    </section>
    <section class="features-extra section-padding" id="assets">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="feature-list">
                        <h3 style="text-align:center; font-size: 25px;">Últimas notícias</h3>
                            <a class="imag"
                                href="https://www.gov.br/saude/pt-br/assuntos/noticias/covax-anuncia-que-o-brasil-recebera-4-milhoes-de-astrazeneca-em-maio"
                                title="O governo brasileiro foi informado, pelos coordenadores da Covax Facility, de que será possível receber 4 milhões de doses">
                            </a>
                            <img src="https://www.gov.br/saude/pt-br/pagina-inicial/@@govbr.institucional.tile.nitf/d8da1b45-79ea-460b-862f-78ae066f3e04/@@images/9bf1755c-4edc-4b56-8c5b-8698310b129c.jpeg"
                                width="450" height="450" class="left">
                            </a>
                            <a style="color: black; font-size: 25px; text-align: center;" href="https://www.gov.br/saude/pt-br/assuntos/noticias/saude-ultrapassa-marca-de-50-milhoes-de-doses-de-vacinas-covid-19-distribuidas-em-todo-o-brasil" target="_blank" >
                                Saúde ultrapassa marca de 50 milhões de doses de vacinas
                                </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="macbook-wrap wp3"></div>
        <div class="responsive-feature-img"><img src="/img/macbook-pro.png" alt="responsive devices"></div>
    </section>

    <section class="sign-up section-padding text-center" id="download">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h3>Comece a utilizar agora</h3>
                    <form class="signup-form" action="/" method="POST" role="form">
                        <a href="/signup" class="btn btn-ghost btn-accent btn-large">Cadastre-se</a>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="to-top">
        <div class="container">
            <div class="row">
                <div class="to-top-wrap">
                    <a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="footer-links">
                        <ul class="footer-group">
                            <li><a href="https://covid.saude.gov.br/" target="_blank">CORONAVÍRUS BRASIL</a></li>
                            <li><a href="https://www.gov.br/saude/pt-br" target="_blank">MINISTÉRIO DA SAÚDE</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/javascripts/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="/bower_components/retina.js/dist/retina.js"></script>
    <script src="js/jquery.fancybox.pack.js">

    </script>
    <script src="/javascripts/vendor/bootstrap.min.js"></script>

    <script src="/javascripts/scripts.js"></script>
    <script src="/javascripts/jquery.flexslider-min.js"></script>
    <script src="/bower_components/classie/classie.js"></script>
    <script src="/bower_components/jquery-waypoints/lib/jquery.waypoints.min.js"></script>

</body>

</html>